<div>
	<div ng-if="hasNoWeatherData" class="error">
		Could not fetch data for your query
	</div>
	<form ng-if="isManualLocationRequired" >
		<input type="number" placeholder="Enter Zip" ng-model="location.zip"></input>
		<span>or</span>
		<input type="text" placeholder="Enter City or Country" ng-model="location.query"></input>
		<button ng-click="fetchLocation(location)">Show Results</button>
	</form>
	<div ng-if="fetchedLocationWeather">
		Forecast in {{ fetchedLocationWeather.city }} : {{ fetchedLocationWeather.forecast }} <br/>
		Temperature :- {{ fetchedLocationWeather.temp }} Celsius <br/>
		Humidity :- {{ fetchedLocationWeather.humidity }} <br/>
		<button ng-click="resetLocation()">Try Another Location</button>
	</div>
</div>